spring:
  application:
    name: doodle-scheduler-hexagonal
  datasource:
    url: jdbc:postgresql://localhost:5432/doodle_scheduler
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    show-sql: false
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
